<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.rules.studio.decisionservice.launching.DecisionOperation">
<stringAttribute key="com.ibm.rules.studio.decisionservice.ui.OPERATION_PATH" value="/vic-ece-rules/deployment/ECEEligibilityServiceOperation"/>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_FUNCT_SIGN">
<mapEntry key="request" value="function funding.EligibilityRequest get_request_value()"/>
</mapAttribute>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_FUNCT_VALUES">
<mapEntry key="request" value="return new funding.EligibilityRequest(2026, new funding.Child(&quot;CHILD123&quot;, &quot;Jane&quot;, &quot;Doe&quot;, java.time.LocalDate.of(2021, 6, 15)));"/>
</mapAttribute>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_NAMES">
<mapEntry key="request" value="request"/>
</mapAttribute>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_SIMPLE_VALUES">
<mapEntry key="request" value="new funding.EligibilityRequest(2026, new funding.Child(&quot;CHILD123&quot;, &quot;Jane&quot;, &quot;Doe&quot;, java.time.LocalDate.of(2021, 6, 15)))"/>
</mapAttribute>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_TYPES">
<mapEntry key="request" value="1"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/vic-ece-rules"/>
<listEntry value="/vic-ece-rules/deployment/ECEEligibilityServiceOperation.dop"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="vic-ece-rules"/>
</launchConfiguration>
